.Basedata{
  height: 100%;
  .BasedataAll{
    height: 100%;
    padding-left: 75px;
   .Basedata-item-zw{
     height: 50px;
   }
    .Basedata-item-sbsl{
      height: 71px;
      background: url("../../style/imgs/sbsl.png") no-repeat;
      background-size: 100% 100%;
      margin-top: 10px;
    }
    .Basedata-item-xbjcw{
      height: 71px;
      background: url("../../style/imgs/xbjcw.png") no-repeat;
      background-size: 100% 100%;
      margin-top: 10px;
    }
    .Basedata-item-cjjcw{
      height: 71px;
      background: url("../../style/imgs/cjjcw.png") no-repeat;
      background-size: 100% 100%;
      margin-top: 10px;
    }
    .Basedata-item-dlfjcw{
      height: 71px;
      background: url("../../style/imgs/dlfjcw.png") no-repeat;
      background-size: 100% 100%;
      margin-top: 10px;
    }
    .Basedata-item-dxsjcw{
      height: 71px;
      background: url("../../style/imgs/dxsjcw.png") no-repeat;
      background-size: 100% 100%;
      margin-top: 10px;
    }
    .Basedata-item-dbsjcw{
      height: 71px;
      background: url("../../style/imgs/dbsjcw.png") no-repeat;
      background-size: 100% 100%;
      margin-top: 10px;
    }
    .Basedata-item-trhjjcw{
      height: 71px;
      background: url("../../style/imgs/trhjjcw.png") no-repeat;
      background-size: 100% 100%;
      margin-top: 10px;
    }
    .Basedata-item-yljcw{
      height: 71px;
      background: url("../../style/imgs/yljcw.png") no-repeat;
      background-size: 100% 100%;
      margin-top: 10px;
    }
    .jcwname{
      display: flex;
      .jcwword{
        width: 60%;
        color: #fff;
        span{
          margin-left: 8px;
        }
      }
      .jcwnumword{
        width: 40%;
        color: #4ecdf6;
        font-size: 12px;
      }
    }
    .jcwnum{
      font-size: 25px;
      color: #fff;
     text-align: center;
    }
  }
}