.Spatialanalyze{
    width: 100%;
    .SpatialanalyzeAll{
        height: 100%;
        padding-left: 75px;
        .spatiaTitle{
            height: 60px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 30px 0;
            padding: 0 0 5px 0;
            background:url('../../style/imgs/title.png') 100% 100% / cover no-repeat;
            
            div{
                color: rgb(167, 210, 248);
                font-size: 16px;
            }
        }
        // 圆圈
        .num{
            width: 40px;
            height: 40px;
            background:url('../../style/imgs/box.png') 100% 100% / cover no-repeat;
            color: rgb(167, 210, 248);
            text-align: center;
            line-height: 40px;
            
        }
        // 下拉导航s
        .Menucont{
            width: 100%;
            .titleMenu{
                padding-left: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .titlename{
                    color: white;
                    font-size: 16px;
                }
            }
            .ant-menu-item{
                margin: 0;
                padding: 0;
                border: none;
            } 
            .ant-menu-item-selected{
                background-color: rgb(5, 7, 8);
            }
            
        }
        // .echartstitle{
        //     width: 100%;
        //     height: 35px;
        //     text-align: center;
        //     font-size: 16px;
        //     padding-top: 5px;
        //     margin: 40px 0;
        //     color: rgb(167, 210, 248);
        //     background:url('../../style/imgs/echartstitle.png') 100% 100% / cover no-repeat;
        // }
    }
}