.Spatialanalyze{
    width: calc(100%-56px);
    .SpatialanalyzeAll{
        height: 100%;
        padding-left: 59px;
        .spatiaTitle{
            height: 61px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 34px 0 12px 0;
            padding: 0 0 5px 0;
            background:url('../../style/imgs/title.png') 100% 100% / cover no-repeat;
            .titlename{
                color: #50D1FD;
                font-size: 16px;
            }
            .num{
                color: rgba(80,209,253,1);
                font-size: 18px;
            }
        }
        // 圆圈
        .num{
            width: 40px;
            height: 40px;
            background:url('../../style/imgs/box.png') 100% 100% / cover no-repeat;
            color: rgba(80,209,253,1);
            text-align: center;
            line-height: 40px;
            font-size: 18px;
            // display: block;
        }
        
        // 下拉导航s
        #leftside-navigation{
            ul{
              margin: -2px 0 0;
              padding: 0;
              li{
                list-style-type: none;
                border-bottom: 1px solid rgba(255, 255, 255, 0.05);
                .onetitle{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: white;
                    text-decoration: none;
                    display: block;
                    padding: 10px 0 10px 25px;
                    font-size: 16px;
                    outline: 0;
                    -webkit-transition: all 200ms ease-in;
                    -moz-transition: all 200ms ease-in;
                    -o-transition: all 200ms ease-in;
                    -ms-transition: all 200ms ease-in;
                    transition: all 200ms ease-in;
                    div {
                        display: inline-block;
                    }
                    .titlecontent{
                        width: 65%;
                        padding: 0 10px;
                    }
                    img{
                        width: 20%;
                        display: inline-block;
                        width: 11px;
                        height: 11px;
                    }
                }
              }
              ul{
                margin: -2px 0 0;
                padding: 0;
                display: none;
                li{
                    margin-bottom: 0;
                    margin-left: 0;
                    margin-right: 0;
                    border-bottom: none;
                    div {
                        padding: 10px 0 10px 25px;
                        text-align: center;
                        font-size: 16px;
                        color: white;
                        
                    }
                }
              }
            }
          } 








        // .Menucont{
        //     width: 100%;
        //     .titleMenu{
        //         padding-left: 0;
        //         display: flex;
        //         justify-content: space-between;
        //         align-items: center;
        //         .titlename{
        //             color: white;
        //             font-size: 16px;
        //         }
        //     }
        //     .ant-menu-item{
        //         margin: 0;
        //         padding: 0;
        //         border: none;
        //     } 
        //     .ant-menu-item-selected{
        //         background-color: rgb(5, 7, 8);
        //     }
            
        // }
    }
}