.dotequip {
  height: 100%;

  .optbox {
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    padding: 5px;
    color: #000;

    .ant-col {
      text-align: right
    }

    .ant-select {
      width: 180px
    }

    .block {
      display: inline-block;
    }
    .block:hover{
      text-decoration: underline;
    }



    .cont {
      border: 1px solid #438bbb;
      border-radius: 2px;
      display: flex;
      align-items: center;
      .tit {
        background: #0160a3;
        color: #fff;
        padding: 5px 15px;
        text-align: center;
      }

      .cotrg {
       margin-left: 18px;
      }
    }

  }

  .ant-radio-wrapper {
    margin: 5px;
  }
}