.t_r {
  text-align: right;
  font-weight: bold;
}
.t_l {
    text-align: left;
    position: relative;
}
.equ_row {
    position: relative;
    height: 40px;
    line-height: 40px;
}
.box-padding{
  width: 800px;
    color: black;
  p{
    font-size: 16px;
    font-weight: bold;
  }
  .introbottom{
    height: 0;
  }
  .ant-row{
    z-index: 1;
  }
  .equ_row{
    z-index: 2;
  }
  .projectinfo{
    margin-top: 20px;
  }
}
 .canclebtn{
    margin-left: 20px;
}
.canclebtn-col{
    display: flex;
   justify-content: flex-end;
}
.img-logo{
    width: 100px;
    height: 100px;
}
.t_l{
  .ant-upload.ant-upload-select-picture-card{
    width: 100px!important;
    height: 50px!important;
  }
}
