.soil-query .ant-btn-primary {
    margin-left: 20px;
    background-color: #425ae7;
    border-color: #425ae7;
}
.soil-query{
    margin-top: 20px;
    /*background-color: #1ECD6E;*/
}
.soil-col{
    width: 100%;
    height: 300px;
}
.soil-col img{
    width: 100%;
    height: 100%;
}
.table-row{
    margin-top: 10px;
}
.table-row table{
    width: 100%;
}
.upload-col{
    height: 300px;
}
.uploaddiv{
    width: 300px;
    height: 100%;
    background-color: #1ECD6E;
}
.upload-up{
    width: 100%;
    height: 100%;
}