
.Login{
	position:relative;
	height: 100%;
  width: 100%;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  .logincont{
  	position: absolute;
		top:calc(50% - 200px);
		left:calc(50% - 200px);
		width:400px;
		background:rgba(255,255,255);
		.login-logo{
			text-align: center;
			padding: 15px 0;
			font-size:22px;
		}
  }
}
.Loginx{
	width: 100%;
	height:100%;
	position: fixed;
	background: url("../../style/imgs/login_bg.jpg") no-repeat;
	background-size: 100% 100%;
	.loginLogo{
		width: 100%;
		height: 104px;
		z-index: 999;
		// margin-top: 35px;
		.loginLogo-img{
			width: 339px;
			height: 100%;
			margin: 30px;
			.login_logo_img{
				width: 300px;
			}
		}
	}

	.login_xian{
		position: relative;
		// bottom:10px;
		left: 0px;
		z-index: 1000;
		margin-left: 400px;
	  }
	.logincont{
		margin-top: 200px;
		// background-color: #00c3ff;
		.login-form{
			// background-color: red;
			width: 50%;
			float: left;
		}
		.login-formnew{
			// background-color: #1ECD6E;
			width: 50%;
			float: left;
			// border: 10px solid red;
			.mydi{
				z-index: 111;
			}
			/*大屏幕*/
			@media screen and (min-width: 1600px) {
				.loginsj{
					background-size: 100% 100%;
					width: 648px;
					height: 440px;
					position: absolute;
					border-radius:10px;
					top: 160px;
					right: 63px;
					z-index: 99;
					background-image: url("../../style/imgs/login_right_baba.png") ;
					.logindk{
						background-image: url("../../style/imgs/login_right_bg.jpg");
						background-size: 100% 100%;
						width: 623px;
						height: 423px;
						position: absolute;
						border-radius:10px;
						top: 10px;
						right: 10px;
						z-index: 99;
							.loginformx{
								width: 269px;
								height: 80%;
								background:#fff;
								border-radius: 10px;
								position: absolute;
								right: 40px;
								top: 38px;
								opacity: 0.9;
								padding: 20px;
								margin: auto 0;
							// .ant-input-affix-wrapper{
							// 	width: 70%!important;
							// }
							.login-type{
								width: 100%;
								height: 30px;
								.login-user{
									width: 50%;
									float: left;
									font-size: 20px;
									font-weight: bold;
									// color: #fff;
									display: flex;
									justify-content: center;
								}
								.login-authcode{
									width: 50%;
									float: left;
									font-size: 20px;
									font-weight: bold;
									// color: #fff;
									display: flex;
									justify-content: center;
								}
							}
							.line{
								width: 100%;
								height: 5px;
								margin-top: 30px;
								border: 1px solid #064974;
								.line-select{
									width: 50%;
									height: 100%;
									background: #064974;
									float: left;
								}
								.line-noselect{
									width: 50%;
									height: 100%;
									float: left;
								}
							}
							.form-select{
								width: 100%;
								margin-top: 30px;
								.rember-user{
									color: #fff;
								}
								.ant-form-item-children{
									width: 100%;
									.ant-input-affix-wrapper{
										height: 40px;
										width: 100%;
									}
								}
								.myflex{
									width: 100%;
									display: flex;
									justify-content: space-around;
									align-items: center;
									.myinput{
										width: 80%;
									}
									.getAuthCode{
										width: 20%;
										background: #064974;
										text-align: center;
										width: 100px;
										float: right;
										color: #fff;
										height: 30px;
										margin-top: 5px;
										margin-left: 5px;
										line-height: 30px;
										font-size: 13px;
										border-radius: 5px;
									}
									.timeer{
										width: 20%;
										background: #064974;
										text-align: center;
										width: 100px;
										float: right;
										color: #fff;
										height: 30px;
										margin-top: 5px;
										line-height: 30px;
										font-size: 13px;
										border-radius: 5px;
									}
								}
								
							}
						}
					}
				}
			}
			
			/*平板电脑与小屏电脑之间的分辨率*/
			@media screen and (min-width: 768px) and (max-width:1600px) {
				.loginsj{
					background-size: 100% 100%;
					width: 513px;
					height: 358px;
					position: absolute;
					top: 160px;
					right: 63px;
					z-index: 99;
					background-image: url("../../style/imgs/login_right_baba.png");
					.logindk{
						background-image: url("../../style/imgs/login_right_bg.jpg");
						background-size: 100% 100%;
						width: 491px;
						height: 340px;
						position: absolute;
						top: 10px;
						right: 10px;
						z-index: 99;
						.loginformx{
							width: 260px;
							height: 275px;
							background: #ffffff;
							// color: #000000 !important;
							border-radius: 10px;
							position: absolute;
							right: 40px;
							top: 38px;
							opacity: 0.9;
							padding: 0 20px;
							// .ant-input-affix-wrapper{
							// 	width: 70%!important;
							// }
							.login-type{
								width: 100%;
								height: 30px;
								.login-user{
									width: 50%;
									float: left;
									font-size: 16px;
									font-weight: bold;
									// color: #fff;
									display: flex;
									justify-content: center;
									margin-top: 25px
								}
								.login-authcode{
									width: 50%;
									float: left;
									font-size: 16px;
									font-weight: bold;
									// color: #fff;
									display: flex;
									justify-content: center;
									margin-top: 25px
								}
							}
							.line{
								width: 100%;
								height: 5px;
								margin-top: 30px;
								border: 1px solid #064974;
								.line-select{
									width: 50%;
									height: 100%;
									background:#064974;
									float: left;
								}
								.line-noselect{
									width: 50%;
									height: 100%;
									float: left;
									
								}
							}
							.form-select{
								width: 100%;
								.rember-user{
									color: #fff;
								}
								.getAuthCode{
									background: #1c7aad;
									text-align: center;
									width: 60px;
									float: right;
									color: #fff;
									height: 30px;
									margin-top: 5px;
									line-height: 30px;
									font-size: 13px;
									border-radius: 5px;
								}
								.timeer{
									background: #1c7aad;
									text-align: center;
									width: 60px;
									float: right;
									color: #fff;
									height: 30px;
									margin-top: 5px;
									line-height: 30px;
									font-size: 13px;
									border-radius: 5px;
								}
							}
						}
					}
				}
			}

		}
	}
	.BA-ICP{
		color: #fff;
		text-align: center;
		position: fixed;
		bottom: 30px;
		left: 45%;
	}
}
